
<!-- <body style="font-family:Verdana;color:#aaaaaa;">
 <div>
		<app-header></app-header>
	</div>
	<div style="overflow:auto">
			<div>
		 		<app-leftnav></app-leftnav>
		 	</div>
	 	<div class="main">
	 		<app-body></app-body>
	 	</div>
	 	<div class="right">
	    	<h2>About</h2>
		    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
		 </div>
	</div> 
	
</body> -->


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid navbar-custom">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
       <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Right Aligned Navbar</h3>
  <p>The .navbar-right class is used to right-align navigation bar buttons.</p>
</div>
<app-footer></app-footer>



