 <div class="menu">
	<a routerLink="/login" routerLinkActive="active-link">Login</a>
   <a routerLink="/about" routerLinkActive="active-link">New User? Sign Up</a>
</div> 
<!-- <mat-drawer-container class="menu" color="primary">
<mat-drawer-content >
		<a routerLink="/login" routerLinkActive="active-link">Login</a>
	
</mat-drawer-content>
<mat-drawer-content>
	 <a routerLink="/about" routerLinkActive="active-link">New User? Sign Up</a>
	<mat-drawer>
	4534534
	</mat-drawer>
</mat-drawer-content>
</mat-drawer-container> -->

